.card {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    width: 290px;
    height: 600px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.PlayerViewContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

}

.playerLabel {
    font-size: 25px;
    margin-top: 6px;
    margin-bottom: 5px;
    color: #fff;
}

.PlayerViewLogo {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 30%;
}

.saveButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.saveButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.showButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@keyframes pop {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.1);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

.popAnimation {
    animation: pop 0.3s ease-in-out;
}
