.card {
    position: fixed;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    width: 290px;
    height: 600px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
button {
    background-color: rgb(0, 0, 0);
    border-radius: 12px;
    border: none;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 20px;
    width: 100%;
}

.buttonCreateandSave:active {
    background-color: rgb(168, 156, 41);
}
.PlayerViewContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

}

.playerLabel {
    font-size: 25px;
    margin-top: 6px;
    margin-bottom: 5px;
    color: #fff;
}

.PlayerViewLogo {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 30%;
}

.saveButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.saveButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.showButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back_button 
{
    
    align-self: flex-start; /* Aligns to the left in an RTL container */
    margin-bottom: 1px; /* Space between the button and the form elements */
    cursor: pointer;
    width: 24px; /* Adjust size as needed */
    height: 24px; /* Adjust size as needed */
    order: -1; /* Ensures it appears at the top of the flex container */
}
.back_button:hover {
    background-color: #FFB01D;
    border-radius: 50%;
    transform: scale(1.15); /* Slightly enlarges the button */
    box-shadow: 0 0 8px rgba(255, 176, 29, 0.5); /* Adds a subtle glow */
    transition: background-color 0.3s ease, 
                transform 0.3s ease, 
                box-shadow 0.3s ease;
}
.back_button:active {
    transform: scale(0.95); /* Creates a "press" effect */
    background-color: #FFB01D; /* Solid color when pressed */
  }
@keyframes pop {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.1);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

.popAnimation {
    animation: pop 0.3s ease-in-out;
}
