.card{
    /* background-color: #272424;
    background-image: url("../../../public/qrcodeWallpaper.png");
    background-size: 80% 40%;  */
    width: 290px;
    height: 600px;
}
.PlayerViewContainer{
    display: flex;
    flex-direction: column;
    align-items:center;
}

.playerLabel{
    font-size: 25px;
    margin-top: 6px;
    margin-bottom: 5px;
    color: #fff;
    border: #272424; 

}

.PlayerViewLogo{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 40%;
}

.homeImg{
    margin: auto;
    width: 10%;
    height: 20%;
}