.PlayerViewContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    width: 75%;
    height: 25%;
    margin: 0 auto;
    background-color: #ffb01d;
    /* background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");  */
    
    /* background-image: url("https://www.transparenttextures.com/patterns/crissxcross.png"); */
    background-image: url('../../../public/backgroundWallpapaer.png');
    /* background-image: url("https://www.transparenttextures.com/patterns/black-felt.png"); */
    border: 1px solid #000;
  
}

.playerName
{
    font-size: 23px;
}


.PlayerViewLogo{
    display: block;
    margin-left:initial;
    margin-right: auto;
}

.homeImg{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    width: 10%;
    height: 20%;
}